@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
$primary-color:#505F98;
$heading-color:#091133;
$button-background:#111B47;
$secondry-color:#6F7CB2;
$footer-background:#E7ECFF;
$logo-text-color:#37447E;
$footer-nav-color:#929ECC;


@mixin paragraph{
    line-height: 26px;
    font-size: 16px;
    color: $secondry-color;
}

@mixin logo-text{
    font-size: 26px;
    line-height: 38px;
    font-weight: bold;
    color: $logo-text-color;
}
@mixin buttons {
    background-color: $button-background;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
}
@mixin h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
}


